doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      div.row
        div.col.s12
          div.right= "content from "
            a(href="http://stackoverflow.com/" target="_blank")= "StackOverflow "
            span
              a(href="/", title="Home")
                i.material-icons.right= "home"
          h1 Stackoverflow Status

      block content
    
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
    script(src='js/filter.js')
          
